/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
	font-family: 'NickainleyNormal';
	src: url('/fonts/Nickainley-Normal.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BantayogLight';
	src: url('/fonts/Bantayog-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

:root {
	--dark-red: #F42E2E;
	--dark-orange: #E05619;
	--dark-green: #246C09;
	--coral: #F8B08C;
}

body {
	margin: auto;
	text-align: left;
	background-color: var(--coral);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

h1 {
	font-family: 'NickainleyNormal', cursive;
	font-size: 4.209rem;
}

h2 {
	font-family: 'BantayogLight', sans-serif;
	font-size: 3.157rem;
}

h3 {
	font-family: 'BantayogLight', sans-serif;
	font-size: 2.369rem;
}

h4 {
	font-family: 'BantayogLight', sans-serif;
	font-size: 1.777rem;
}

h5,
a {
	font-family: 'BantayogLight', sans-serif;
	font-size: 1.333rem;
}

p {
	font-family: 'BantayogLight', sans-serif;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
a {
	color: var(--dark-green);
}

nav a {
	margin-right: 1.25rem;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

pre {
	padding: 1rem;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.content-container {
	margin: auto;
	padding: 20px;
	max-width: 65ch;
}