@font-face {
	font-family: 'NickainleyNormal';
	src: url('/fonts/Nickainley-Normal.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BantayogLight';
	src: url('/fonts/Bantayog-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

:root {
	--dark-red: #F42E2E;
	--dark-orange: #E05619;
	--light-green: #637F17;
	--dark-green: #264C09;
	--coral: #FFD7C4;
	--pink: #FFE0D1;
}

html {
	display: flex;
	flex-direction: column;
	min-height: 100%;
  width: 100%;
	min-height: 100%;
}

h1 {
	color: var(--dark-red);
	font-family: 'NickainleyNormal', cursive;
	font-size: 4.209rem;
}

h2 {
	font-family: 'NickainleyNormal', cursive;
	font-size: 3.157rem;
}

h3 {
	font-family: 'NickainleyNormal', cursive;
	font-size: 2.369rem;
}

h4 {
	font-family: 'NickainleyNormal', cursive;
	font-size: 1.777rem;
}

h5 {
	font-family: 'NickainleyNormal', cursive;
	font-size: 1.333rem;
}

a,
p {
	font-family: 'BantayogLight', sans-serif;
	font-size: 1rem;
}

a {
	color: var(--dark-green);
}

a:visited {
	color: var(--light-green);
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

img {
	max-width: 100%;
	height: auto;
}

pre {
	padding: 1rem;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--light-green);
	margin: 1em 0;
	padding: 0;
}

.text-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 100ch;
	padding: 20px 20px 46px 20px;
}