---
import Layout from "../layouts/TabPage.astro";
---

<Layout title="FAQs" description="Frequently asked wedding questions">
  <div class="text-container">
    <h3>What is the weather like in Cartagena?</h3>
    <p>
      It is always summer in Cartagena! It is usually sunny and quite warm
      during the day and warm with cooling breezes at night. In April, the
      average temperature is around 80 degrees Fahrenheit.
    </p>
    <h3>Are children invited?</h3>
    <p>
      While we love your little ones, this will be an adults-only event. Please
      reach out to us if this will prohibit you from joining and we can see what
      we can do!
    </p>
    <h3>What should I pack?</h3>
    <p>
      Cartagena is tropical, colorful, and casual, so think breathable summer
      outfits! Some areas have cobblestone streets, so comfortable walking shoes
      are recommended. Within the walled city are many options for purchasing
      hats, swimsuits, sunglasses, and anything else you may have forgotten.
    </p>
    <h3>What does "Tropical Cocktail" mean?</h3>
    <p>
      For dresses: elegant dresses in any length. Have fun with color and print!
      Remember to choose something breathable, and please no black. We think the
      pictures will look nice with more color. Avoid thin heels due to
      cobblestone streets!
    </p>
    <p>
      Alternatively, linen suits or pants with a button-down or Guayabera shirt.
    </p>
    <h3>Are US dollars accepted?</h3>
    <p>
      Street vendors and taxis will accept dollars, but you are better off using
      pesos. We suggest exchanging about $20 worth of pesos either before you
      leave the US or at the airport to tide you over. Once you are in the
      walled city, you can get pesos from ATMs or exchange houses for the best
      exchange rates. Google has a
      <a
        href="https://www.google.com/search?q=cop+to+usd&oq=cop"
        target="_blank"
        rel="noopener noreferrer">handy widget</a
      > that will let you convert between US dollars and Colombian pesos.
    </p>
  </div>
</Layout>
<style>
  h3 {
    align-self: center;
  }
</style>
