---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
	<head>
		<style>
			div.text-container {
				text-align: center;
			}
		</style>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<picture>
				<source
					media="(min-width: 800px)"
					srcset="src/images/margaret-logan-proposal-large.jpg 800w,
									src/images/margaret-logan-proposal-large@2x.jpg 1600w,
                  src/images/margaret-logan-proposal-large@3x.jpg 2400w"
				/>
				<source
					media="(min-width: 440px)"
					srcset="src/images/margaret-logan-proposal-medium.jpg 633w,
									src/images/margaret-logan-proposal-medium@2x.jpg 1266w,
                  src/images/margaret-logan-proposal-medium@3x.jpg 1900w"
				/>
				<source
					srcset="src/images/margaret-logan-proposal-small.jpg,
									src/images/margaret-logan-proposal-small@2x.jpg 880w,
                  src/images/margaret-logan-proposal-small@3x.jpg 1320w"
				/>
				<img
					src="src/images/margaret-logan-proposal-small.jpg"
					alt="Margaret and Logan's proposal"
				/>
			</picture>
			<div class="text-container">
				<h3>April 20, 2024</h3>
				<p>in</p>
				<h3>Cartagena, Colombia</h3>
				<hr />
				<p>
					We're so excited to be able to share this day and this trip to such a
					beautiful place with our closest friends and family. We hope to see
					you all there!
				</p>
				<hr />
			</div>
		</main>
	</body>
</html>
