---
import Layout from "../layouts/TabPage.astro";

import large from "../images/margaret-logan-proposal-large.jpg?url";
import large2x from "../images/margaret-logan-proposal-large@2x.jpg?url";
import medium from "../images/margaret-logan-proposal-medium.jpg?url";
import small from "../images/margaret-logan-proposal-small.jpg?url";
---

<Layout
	title="Margaret & Logan"
	description="Margaret & Logan's wedding website"
>
	<picture>
		<source
			media="(min-width: 800px)"
			srcset={`${large} 800w, ${large2x} 1600w`}
			height="1568"
			width="3200"
		/>
		<source
			media="(min-width: 440px)"
			srcset={medium}
			height="2030"
			width="2400"
		/>
		<img
			src={small}
			alt="Margaret and Logan's proposal"
			height="2696"
			width="1800"
		/>
	</picture>
	<div class="text-container">
		<h2>April 20, 2024</h2>
		<h5>in</h5>
		<h2>Cartagena, Colombia</h2>
		<hr />
		<p>
			We're so excited to be able to share this day and this trip to such a
			beautiful place with our closest friends and family. We hope to see you
			all there!
		</p>
		<hr />
	</div>
</Layout>
<style>
	h2 {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	h5 {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.text-container {
		text-align: center;
	}
</style>
