---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/TabPage.astro";
import Button from "../components/Button.astro";

changeLanguage("en");
---

<Layout title={t("pages.registry")} description="Wedding registry">
  <div class="text-container">
    <h3>{t("registry.title")}</h3>
    <p>{t("registry.body")}</p>
    <div class="button-wrapper">
      <Button
        href="https://www.zola.com/registry/logan-margaret"
        label={t("registry.buttonLabel")}
      />
    </div>
  </div>
</Layout>
<style>
  h3 {
    align-self: center;
  }

  p {
    text-align: center;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    width: 100%;
  }
</style>
