---
import Layout from "../layouts/TabPage.astro";
---

<Layout title="Registry" description="Wedding registry">
  <div class="text-container">
    <a
      href="https://www.zola.com/registry/logan-margaret"
      target="_blank"
      rel="noopener noreferrer"
    >
      Zola
    </a>
  </div>
</Layout>
