---
import Layout from "../layouts/TabPage.astro";
---

<Layout title="RSVP" description="Link to RSVP">
  <div class="text-container">
    <h3>Coming soon</h3>
    <p>
      If you're planning on attending, we're very excited to see you! Check back here later on for a formal RSVP once we finalize the schedule.
    </p>
    <p>
      We undersand that traveling this far is an undertaking. While we would miss you greatly, if you know you cannot attend, please let us know as soon as possible.
    </p>
  </div>
</Layout>
<style>
  h3 {
    align-self: center;
  }
</style>
