---
import Layout from "../layouts/TabPage.astro";
import Timeline from "../components/Timeline.astro";

const entries = [
  {
    title: "Welcome Party",
    date: "Thursday, April 18th",
    description: "Details to Follow!",
  },
  {
    title: "Daytime Group Activity",
    date: "Friday, April 19th",
    description: "Details to Follow!",
  },
  {
    title: "Wedding Day",
    date: "Saturday, April 20th",
    description: "The big day!!",
  },
];
---

<Layout title="Schedule" description="Wedding schedule">
  <div class="text-container">
    <Timeline entries={entries} />
  </div>
</Layout>
