---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/TabPage.astro";
import WeddingPartyLayout from "../components/WeddingPartyLayout.astro";

changeLanguage("en");
---

<Layout
  title={t("pages.weddingParty")}
  description="Our wonderful wedding party!"
>
  <div class="text-container">
    <WeddingPartyLayout />
  </div>
</Layout>
