---
interface Props {
  href: string;
  label: string;
  newTab?: boolean;
}

const { href, label, newTab } = Astro.props;

const extraAttributes = {};
if (newTab) {
  extraAttributes["target"] = "_blank";
  extraAttributes["rel"] = "noopener noreferrer";
}
---

<a href={href} {...extraAttributes}>
  {label}
</a>
<style>
  a {
    background-color: var(--dark-green);
    border-radius: 8px;
    color: white;
    font-size: 1.333rem;
    padding: 1rem 3rem 1rem 3rem;
    text-decoration: none;
    transition: background-color 0.2s;
  }

  a:visited {
    color: white;
  }

  a:hover {
    background-color: var(--light-green);
  }
</style>
