---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
	withUnderline?: boolean;
};

const { href, withUnderline, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
	href={href}
	class:list={[className, { active: isActive, underline: withUnderline }]}
	{...props}
>
	<slot />
</a>
<style>
	a {
		color: var(--dark-red);
		display: inline-block;
		font-size: 1.333rem;
		text-decoration: none;
	}

	a.underline::after {
		content: "";
		display: block;
		background: var(--dark-red);
		height: 2px;
		margin: auto;
	}

	a.active {
		font-weight: bolder;
	}

	a.underline:not(.active)::after {
		width: 0;
		transition: width 0.3s;
	}

	a.underline.active::after,
	a.underline:hover::after {
		width: 100%;
	}
</style>
