---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a::after {
		content: "";
		display: block;
		background: #222;
		height: 2px;
		margin: auto;
	}
	a.active {
		font-weight: bolder;
	}
	a:not(.active)::after {
		width: 0;
		transition: width 0.3s;
	}
	a.active::after,
	a:hover::after {
		width: 100%;
	}
</style>
