---
import TimelineEntry from "./TimelineEntry.astro";
import { Props as BlockContentProps } from "./TimelineBlockContent.astro";

type Entry = BlockContentProps;
interface Props {
  entries: Entry[];
}

const { entries } = Astro.props;
---

<div class="timeline">
  {
    entries.map((entry, idx) => (
      <TimelineEntry side={idx % 2 === 0 ? "left" : "right"} {...entry} />
    ))
  }
</div>
<style>
  .timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
</style>
