---
import { Image } from "@astrojs/image/components";

interface Props {
  title: string;
  blurb: string;
  picture: {
    src: string;
    alt: string;
  };
}

const { title, blurb, picture } = Astro.props;
---

<div class="container">
  <div class="image-container">
    <Image src={picture.src} alt={picture.alt} height={600} width={600} />
  </div>
  <h4 class="name">{title}</h4>
  <p>{blurb}</p>
</div>
<style>
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 360px;
  }

  .image-container {
    border-radius: 48px;
    height: 360px;
    overflow: hidden;
    width: 360px;
  }

  .name {
    margin-bottom: 0.5rem;
  }
</style>
