---
import { changeLanguage, t } from "i18next";
import WeddingPartyPhoto from "./WeddingPartyPhoto.astro";

import mccoy from "../images/mccoy.jpg?url";
import niel from "../images/niel.jpg?url";
import brian from "../images/brian.jpg?url";
import nick from "../images/nick.jpg?url";
import jo from "../images/jo.jpg?url";
import nolan from "../images/nolan.jpg?url";
import mary from "../images/mary.jpg?url";
import kayla from "../images/kayla.jpg?url";
import megan from "../images/megan.jpg?url";
import abby from "../images/abby.jpg?url";
import ana from "../images/ana.jpg?url";
import chelsea from "../images/chelsea.jpg?url";
import claire from "../images/claire.jpg?url";
import mark from "../images/mark.png?url";

changeLanguage("en");

const bestMates = [
  {
    title: "Mary Penny",
    blurb: t("weddingParty.mary"),
    picture: {
      src: mary,
      alt: "Mary",
    },
  },
  {
    title: "McCoy Patiño",
    blurb: t("weddingParty.mccoy"),
    picture: {
      src: mccoy,
      alt: "McCoy",
    },
  },
];

const bridesmaidsAndGroomsmen = [
  {
    title: "Kayla Sousa • Officiant",
    blurb: t("weddingParty.kayla"),
    picture: {
      src: kayla,
      alt: "Kayla",
    },
  },
  {
    title: "Niel Skalican",
    blurb: t("weddingParty.niel"),
    picture: {
      src: niel,
      alt: "Niel",
    },
  },
  {
    title: "Claire Jones",
    blurb: t("weddingParty.claire"),
    picture: {
      src: claire,
      alt: "Claire",
    },
  },
  {
    title: "Brian Hoffman",
    blurb: t("weddingParty.brian"),
    picture: {
      src: brian,
      alt: "Brian",
    },
  },
  {
    title: "Megan Bortle",
    blurb: t("weddingParty.megan"),
    picture: {
      src: megan,
      alt: "Megan",
    },
  },
  {
    title: "Nick Casto",
    blurb: t("weddingParty.nick"),
    picture: {
      src: nick,
      alt: "Nick",
    },
  },
  {
    title: "Ana Sather",
    blurb: t("weddingParty.ana"),
    picture: {
      src: ana,
      alt: "Ana",
    },
  },
  {
    title: "Jonathan Espiard",
    blurb: t("weddingParty.jo"),
    picture: {
      src: jo,
      alt: "Jo",
    },
  },
  {
    title: "Chelsea Clark",
    blurb: t("weddingParty.chelsea"),
    picture: {
      src: chelsea,
      alt: "Chelsea",
    },
  },
  {
    title: "Nolan Rudolph",
    blurb: t("weddingParty.nolan"),
    picture: {
      src: nolan,
      alt: "Nolan",
    },
  },
  {
    title: "Abby Richman",
    blurb: t("weddingParty.abby"),
    picture: {
      src: abby,
      alt: "Abby",
    },
  },
  {
    title: "MarcVic Naniong • Ring Bearer",
    blurb: t("weddingParty.mark"),
    picture: {
      src: mark,
      alt: "Mark",
    },
  },
];
---

<div class="wrapper">
  <h3 class="section-title">Best Mates</h3>
  <div class="row">
    {bestMates.map((memberProps) => <WeddingPartyPhoto {...memberProps} />)}
  </div>
  <h3 class="section-title">Wedding Party</h3>
  <div class="grid">
    {
      bridesmaidsAndGroomsmen.map((memberProps) => (
        <WeddingPartyPhoto {...memberProps} />
      ))
    }
  </div>
</div>
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 220ch;
    padding: 20px 64px 46px 64px;
  }

  .section-title {
    align-self: center;
    display: flex;
  }

  .row {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  .grid {
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(auto-fill, 380px);
    justify-content: center;
  }
</style>
