---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "../../layouts/TabPage.astro";

changeLanguage("es");
---

<Layout title={t("pages.faq")} description="Frequently asked wedding questions">
  <div class="text-container">
    {i18next.language === "en" && (
      <h3>What is the weather like in Cartagena?</h3>
      <p>
        It is always summer in Cartagena! It is usually sunny and quite warm
        during the day and warm with cooling breezes at night. In April, the
        average temperature is around 80 degrees Fahrenheit.
      </p>
      <h3>Are children invited?</h3>
      <p>
        While we love your little ones, this will be an adults-only event. Please
        reach out to us if this will prohibit you from joining and we can see what
        we can do!
      </p>
    )}
    <h3>{t("faq.packingTitle")}</h3>
    <p>{t("faq.packingBody")}</p>
    <h3>{t("faq.dressCodeTitle")}</h3>
    <p>{t("faq.dressCodeBodyDresses")}</p>
    <p>{t("faq.dressCodeBodySuits")}</p>
    {i18next.language === "en" && (
      <h3>Are US dollars accepted?</h3>
      <p>
        Street vendors and taxis will accept dollars, but you are better off using
        pesos. We suggest exchanging about $20 worth of pesos either before you
        leave the US or at the airport to tide you over. Once you are in the
        walled city, you can get pesos from ATMs or exchange houses for the best
        exchange rates. Google has a
        <a
          href="https://www.google.com/search?q=cop+to+usd&oq=cop"
          target="_blank"
          rel="noopener noreferrer"
        >
          handy widget</a>
        that will let you convert between US dollars and Colombian pesos.
      </p>
    )}
  </div>
</Layout>
<style>
  h3 {
    align-self: center;
  }
</style>
