---
import { changeLanguage, t } from "i18next";
import { Trans } from "astro-i18next/components";
import Layout from "../../layouts/TabPage.astro";
import PhotoGrid, { Props as PhotoGridProps, } from "../../components/PhotoGrid.astro";
import couchThirdWheel from "../../images/570-couch.jpg";
import stoopLaughing from "../../images/570-stoop-laugh.jpg";
import firstDate from "../../images/first-date.jpg";
import soccerFriends from "../../images/soccer-with-sousas.jpg";
import snowmobile from "../../images/snowmobile.jpg";
import hikingAcadia from "../../images/hiking-acadia.jpg";
import amsterdam from "../../images/amsterdam.jpg";
import london from "../../images/london.jpg";
import dom from "../../images/dom.jpg";
import proposalStaring from "../../images/proposal-stare.jpg";
import proposalFlowers from "../../images/proposal-flowers.jpg";
import proposalLogKiss from "../../images/proposal-log-kiss.jpg";

changeLanguage("es");

const firstSectionImages: PhotoGridProps["images"] = [
    {
        src: firstDate,
        alt: "our first date",
    },
    {
        src: couchThirdWheel,
        alt: "Michael third-wheeling",
    },
    {
        src: stoopLaughing,
        alt: "candid",
    },
];
const secondSectionImages: PhotoGridProps["images"] = [
    {
        src: soccerFriends,
        alt: "champs again",
    },
    {
        src: snowmobile,
        alt: "before the ride of our lives",
    },
    {
        src: hikingAcadia,
        alt: "peaking in Acadia",
    },
];
const thirdSectionImages: PhotoGridProps["images"] = [
    {
        src: dom,
        alt: "big boi",
    },
    {
        src: amsterdam,
        alt: "biking around",
    },
    {
        src: london,
        alt: "walking around London",
    },
];
const fourthSectionImages: PhotoGridProps["images"] = [
    {
        src: proposalFlowers,
        alt: "!!!",
    },
    {
        src: proposalLogKiss,
        alt: "!!!",
    },
    {
        src: proposalStaring,
        alt: "!!!",
    },
];
---

<Layout
  title={t("pages.story")}
  description="Photo gallery of Margaret and Logan"
>
  <div class="text-container">
    <h3>{t("story.meetingTitle")}</h3>
    <p>{t("story.meetingBody")}</p>
  </div>
  <PhotoGrid images={firstSectionImages} />
  <div class="text-container">
    <h3>{t("story.hobbiesTitle")}</h3>
    <p>
      <Trans i18nKey="story.hobbiesBody">
        Both of them love sports and the outdoors, so they've always been big
        parts of their relationship. Logan knew he met his match when Margaret
        bested him in soccer volleyball soon after they met. Logan joined and
        made a big impact on their <strong>league-winning</strong> soccer team ("The
        Soccer Team"), which they still play together on, five years later. Margaret
        showed her commitment to Logan by slogging through many a bunny hill to share
        her ski knowledge with a boy from Ohio. They knew they were a good match
        when they consistently picked out overly-intense hikes to do together whenever
        they got the chance.
      </Trans>
    </p>
  </div>
  <PhotoGrid images={secondSectionImages} />
  <div class="text-container">
    <h3>Ausländer</h3>
    <p>{t("story.germanyBody")}</p>
  </div>
  <PhotoGrid images={thirdSectionImages} />
  <div class="text-container">
    <h3>{t("story.proposalTitle")}</h3>
    <p>{t("story.proposalBody")}</p>
  </div>
  <PhotoGrid images={fourthSectionImages} />
</Layout>
<style>
  h3 {
    align-self: center;
  }
</style>
