---
import { changeLanguage, t } from "i18next";
import Layout from "../../layouts/TabPage.astro";

changeLanguage("es");
---

<Layout title={t("pages.rsvp")} description="Link to RSVP">
  <div class="text-container">
    <h3>{t("rsvp.title")}</h3>
    <p>{t("rsvp.body1")}</p>
    <p>{t("rsvp.body2")}</p>
  </div>
</Layout>
<style>
  h3 {
    align-self: center;
  }
</style>
