---
import { changeLanguage, t } from "i18next";
import Layout from "../../layouts/TabPage.astro";

changeLanguage("es");
---

<Layout title={t("pages.rsvp")} description="RSVP details">
  <div class="text-container">
    <p>{t("rsvp.body")}</p>
  </div>
</Layout>
<style>
  h3 {
    align-self: center;
  }
</style>
