---
import { Image } from "@astrojs/image/components";
import i18next, { changeLanguage, t } from "i18next";
import Layout from "../../layouts/TabPage.astro";
import oldCityMap from "../../images/cartagena-old-city.png";

changeLanguage("es");
---

<Layout title={t("pages.travel")} description="Info about getting to the wedding">
  <div class="text-container">
    {i18next.language === "en" && (
      <h3>Paperwork</h3>
      <p>
      Guests will need to have valid passports to enter Colombia, which can take
      ~3 months to get in the US. Some airlines require that your passport be
      valid at least 6 months beyond the dates of your trip. Guests from other
      countries might need a visa, so please check on this ASAP! In addition to
      a valid passport, you will need to fill out Colombia's version of a
      <a
        href="https://www.colombia-checkmig.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        health declaration form
      </a> within 24 hours of your arrival.
    </p>
    <p>
      There are no longer any requirements around COVID vaccinations or testing,
      but we'll keep this website updated if anything changes.
    </p>
    )}
    <h3>{t("travel.flightsTitle")}</h3>
    <p>{t("travel.flightsBody1")}</p>
    <p>{t("travel.flightsBody2")}</p>
    {i18next.language === "en" && (
      <h3>Transportation</h3>
      <p>
        Once you land in Cartagena, transport to the old city (highlighted below)
        is quick. The easiest way will be to take a taxi from the airport, which
        will run you about 15,000 - 20,000 Colombian Pesos (~$5). The old city
        itself is very small and walkable so no need to rent a car.
      </p>
      <div class="image-wrapper">
        <Image src={oldCityMap} alt="Map of Cartagena's old city" />
      </div>
    )}
    <h3>{t("travel.hotelsTitle")}</h3>
    <p>{t("travel.hotelsDescription")}</p>
    <div class="hotel-recommendations">
      <h4>Sofitel Legend Santa Clara Cartagena</h4>
      <a
        class="website-link"
        href={t("travel.santaClaraLink")}
        target="_blank"
        rel="noopener noreferrer"
      >
        {t("travel.santaClaraLink")}
      </a>
      <p>{t("travel.santaClaraDescription")}</p>
      <h4>Hotel Bantu by Faranda Boutique, a member of Radisson Individuals</h4>
      <a
        class="website-link"
        href={t("travel.bantuLink")}
        target="_blank"
        rel="noopener noreferrer"
      >
        {t("travel.bantuLink")}
      </a>
      <p>{t("travel.bantuDescription")}</p>
      <h4>Hotel Casona Del Colegio</h4>
      <a
        class="website-link"
        href={t("travel.casonaLink")}
        target="_blank"
        rel="noopener noreferrer"
      >
        {t("travel.casonaLink")}
      </a>
      <p>{t("travel.casonaDescription")}</p>
    </div>
    <h3>Airbnb</h3>
    <p>{t("travel.airbnbDescription")}</p>
  </div>
</Layout>
<style>
  h3 {
    align-self: center;
  }

  .hotel-recommendations {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 60ch;
    text-align: center;
  }

  .image-wrapper {
    align-self: center;
    max-width: 700px;
  }

  .website-link {
    align-self: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: -1.75rem;
  }
</style>
