---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<div class="content-container">
				<h2>{title}</h2>
				<slot />
			</div>
		</main>
	</body>
</html>
