---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<link
			rel="preload"
			href="/fonts/Nickainley-Normal.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/Bantayog-Light.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</head>

	<body>
		<Header />
		<main>
			<slot />
		</main>
		<div class="image-footer"></div>
	</body>
</html>
<style>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
		height: 100%;
		text-align: left;
		background-color: var(--pink);
		word-wrap: break-word;
		overflow-wrap: break-word;
		line-height: 1.5;
		color: var(--dark-red);
	}

	main {
		flex: 1;
	}
	.image-footer {
		background-image: url("../images/bird-of-paradise-2.png");
		background-position: bottom -100px right -95px;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: 350px;
		height: 300px;
		width: 100%;
	}
</style>
